In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("sqlite:///sqlite_db_pythonsqlite.db")

### Q 10:
Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [2]:
df10 = pd.read_sql_query("SELECT name, SUM(cost) AS total_revenue\
                          FROM (SELECT f.name, \
                                       CASE WHEN b.memid = 0 THEN b.slots * f.guestcost \
                                            ELSE b.slots * f.membercost END AS cost \
                                FROM Bookings AS b \
                                     INNER JOIN Facilities AS f \
                                                USING (facid) \
                                     INNER JOIN Members as m \
                                                USING (memid)) AS costs \
                          GROUP BY name \
                          HAVING SUM(cost) < 1000", engine)
print(df10)

            name  total_revenue
0     Pool Table            270
1  Snooker Table            240
2   Table Tennis            180

### Q 11:
Produce a report of members and who recommended them in alphabetic surname,firstname order

In [3]:
df11 = pd.read_sql_query("SELECT r.members, r.recommended_by \
                          FROM (SELECT (m1.firstname || ' ' || m1.surname) AS members, \
                                       (m2.firstname || ' ' || m2.surname) AS recommended_by, \
                                       m1.surname \
                                FROM members AS m1 \
                                     LEFT JOIN members AS m2 \
                                     ON m1.memid = m2.recommendedby) AS r \
                          ORDER BY r.surname", engine)

print(df11)

                    members           recommended_by
0            Florence Bader         Ramnaresh Sarwin
1                Anne Baker                     None
2             Timothy Baker              Joan Coplin
3                Tim Boothe                     None
4            Gerald Butters          Matthew Genting
5               Joan Coplin                     None
6             Erica Crumpet                     None
7                Nancy Dare                     None
8            Jemima Farrell            Timothy Baker
9            Jemima Farrell             David Pinker
10            David Farrell                     None
11              GUEST GUEST                     None
12          Matthew Genting         Henrietta Rumney
13                John Hunt                     None
14              David Jones            Douglas Jones
15            Douglas Jones                     None
16          Janice Joplette               Nancy Dare
17          Janice Joplette              David Jones
18           Anna Mackenzie                     None
19             Charles Owen                     None
20             David Pinker                     None
21        Millicent Purview                John Hunt
22               Tim Rownam               Tim Boothe
23         Henrietta Rumney                     None
24         Ramnaresh Sarwin                     None
25             Darren Smith          Janice Joplette
26             Darren Smith           Gerald Butters
27             Darren Smith             Charles Owen
28             Darren Smith               Jack Smith
29             Darren Smith           Anna Mackenzie
30              Tracy Smith  Henry Worthington-Smyth
31              Tracy Smith        Millicent Purview
32              Tracy Smith            Erica Crumpet
33               Jack Smith                     None
34             Darren Smith                     None
35          Ponder Stibbons               Anne Baker
36          Ponder Stibbons           Florence Bader
37             Burton Tracy          Ponder Stibbons
38      Hyacinth Tupperware                     None
39  Henry Worthington-Smyth                     None

### Q 12:
Find the facilities with their usage by member, but not guests

In [4]:
df12 = pd.read_sql_query("SELECT f.name, COUNT(*) AS facility_usage \
                          FROM Bookings AS b \
                               INNER JOIN Facilities AS f \
                                          USING (facid) \
                               INNER JOIN Members AS m \
                                          USING (memid) \
                          WHERE m.memid <> 0 \
                          GROUP BY f.name", engine)
print(df12)

              name  facility_usage
0  Badminton Court             344
1   Massage Room 1             421
2   Massage Room 2              27
3       Pool Table             783
4    Snooker Table             421
5     Squash Court             195
6     Table Tennis             385
7   Tennis Court 1             308
8   Tennis Court 2             276

### Q 13:
Find the facilities usage by month, but not guests

In [5]:
df13 = pd.read_sql_query("SELECT STRFTIME('%m', b.starttime) AS month, f.name, COUNT(*) AS monthly_facility_usage \
                          FROM Bookings AS b \
                               INNER JOIN Facilities AS f \
                                          USING (facid) \
                               INNER JOIN Members AS m \
                                          USING (memid) \
                          WHERE m.memid <> 0 \
                          GROUP BY f.name, STRFTIME('%m', b.starttime) \
                          ORDER BY month, f.name", engine)
print(df13)

   month             name  monthly_facility_usage
0     07  Badminton Court                      51
1     07   Massage Room 1                      77
2     07   Massage Room 2                       4
3     07       Pool Table                     103
4     07    Snooker Table                      68
5     07     Squash Court                      23
6     07     Table Tennis                      48
7     07   Tennis Court 1                      65
8     07   Tennis Court 2                      41
9     08  Badminton Court                     132
10    08   Massage Room 1                     153
11    08   Massage Room 2                       9
12    08       Pool Table                     272
13    08    Snooker Table                     154
14    08     Squash Court                      85
15    08     Table Tennis                     143
16    08   Tennis Court 1                     111
17    08   Tennis Court 2                     109
18    09  Badminton Court                     161
19    09   Massage Room 1                     191
20    09   Massage Room 2                      14
21    09       Pool Table                     408
22    09    Snooker Table                     199
23    09     Squash Court                      87
24    09     Table Tennis                     194
25    09   Tennis Court 1                     132
26    09   Tennis Court 2                     126